{% extends 'layout.twig' %}

{% block title %}AG Produtos || Home{% endblock %}

{% block content %}
    <header class="container">
        <h1>Bem vindo ao nosso sistema!</h1>
    </header>
{% endblock %}

{% block classhome %}active{% endblock %}
{% block classprodutos %}{% endblock %}