{% extends 'layout.twig' %}

{% block title %}AG Produtos || Edição de Produto{% endblock %}

{% block content %}
    <header class="container">
        <h1>Editar Produto</h1>
        <p>{{ id }}</p>
    </header>
{% endblock %}

{% block classhome %}{% endblock %}
{% block classprodutos %}active{% endblock %}