{% extends 'layout.twig' %}
{% block title %}AG Produtos || Sucesso{% endblock %}
{% block content %}
    <header>
        <div class="container">
            <h3 class="alert-success">Produto cadastrado com sucesso!</h3>
        </div>
    </header>
{% endblock %}

{% block classhome %}{% endblock %}
{% block classprodutos %}active{% endblock %}